<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Types</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/doc.css}">
</head>
<body>
<h2>Computer alchemist v 1.0 API Documentation</h2>
<hr>

<button><a th:href="@{/basic}">Basic documentation</a></button>
<button><a th:href="@{/types}">Complete list of all parameters</a></button>
<button><a th:href="@{/doc}">Components documentation</a></button>
<button><a th:href="@{/builder}">Alchemist builder documentation</a></button>
<button><a th:href="@{/pickpocket}">Pickpocket documentation</a></button>
<hr>

    <h4>Available component types:</h4>
    <ul>
        <li>cpu</li>
        <li>motherboard</li>
        <li>disk</li>
        <li>ram</li>
        <li>supply</li>
        <li>gpu</li>
        <li>computercase</li>
    </ul>
    <br><hr><br>
    <h4>Available set types:</h4>
    <ul>
        <li>gaming</li>
        <li>work</li>
        <li>family</li>
    </ul>
</body>
</html>